<div class="page-container">
  <div class="page-icon icon-cyan">
    <i class="fa-solid fa-message page-icon-i"></i>
  </div>

  <h1 class="page-title">
    Craft Your <span class="gradient-text"> Welcome Message</span>
  </h1>

  <p class="page-subtitle">
    This is the first thing users see when they start a conversation with your
    bot.
  </p>

  <app-card variant="default">
    <div class="input-group">
      <label for="" class="input-label">Welcome Message</label>
      <textarea
        name=""
        id=""
        maxlength="500"
        [(ngModel)]="welcomeMessage"
        class="flex w-full bg-input-bg rounded-md border px-3 py-2 text-sm min-h-[120px]"
        placeholder="Hey there! 👋 I'm an AI trained on all my videos. Ask me anything about my content, tutorials, or opinions. I'm here to help!"
      ></textarea>
      <div class="flex justify-between mt-1.5">
        <span class="text-xs text-subtle-text"
          >Make it personal and inviting to encourage engagement.</span
        >
        <span class="text-xs text-subtle-text"
          >{{ welcomeMessage.length }} / 500</span
        >
      </div>

      <label class="mt-4 input-label">preview</label>
      <app-card class="preview-card">
        <div class="flex items-start gap-3">
          <div
            class="preview-icon w-9 h-9 rounded-full bg-gradient-to-br from-cyan to-purple flex items-center justify-center flex-shrink-0"
          >
            <i class="fa-solid fa-robot"></i>
          </div>

          <div>
            <p class="text-xs font-medium gradient-text mb-1">
              {{ chatbotName }}
            </p>
            <p class="text-xs text-subtle-text">
              {{ welcomeMessage || "Your welcome message will appear here..." }}
            </p>
          </div>
        </div>
      </app-card>
    </div>
  </app-card>

  <div class="flex justify-between items-center mt-6">
    <app-button variant="outline" size="lg" (click)="onBack()">
      <i class="fa-solid fa-arrow-left btn-icon"></i>
      <span>Back</span>
    </app-button>

    <app-button
      size="lg"
      [disabled]="!welcomeMessage.trim()"
      (click)="onContinue()"
    >
      <span class="font-semibold">Continue</span>
      <i class="fa-solid fa-arrow-right btn-icon"></i>
    </app-button>
  </div>
</div>
