<div class="page-container">
  <div class="page-icon icon-green">
    <i class="fa-solid fa-circle-check page-icon-i"></i>
  </div>

  <h1 class="page-title">
    <span class="gradient-text">Verification Complete!</span>
  </h1>

  <p class="page-subtitle">
    Your YouTube channel has been successfully verified. You can now access all
    influencer features.
  </p>

  <app-card variant="default">
    <div class="channel-card channel-card-success">
      <div class="channel-icon channel-icon-success">
        <i class="fa-brands fa-youtube"></i>
      </div>

      <div class="channel-info">
        <p class="channel-handle">
          {{ channelHandle }}
        </p>

        <p class="channel-status">
          <i class="fa-solid fa-circle-check"></i>
          Verified
        </p>
      </div>
    </div>

    <app-button (click)="onSetUpChatBot()" class="btn-full" size="lg">
      <!-- TODO: Add chatbot icon -->
      <span class="btn-text font-semibold"> Set up your Chatbot </span>
    </app-button>
  </app-card>
</div>