<nav
  class="sidebar"
  [class.expanded]="!collapsed"
  [class.collapsed]="collapsed"
  aria-label="Main navigation"
>
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <a [class]="config.logoIcon" routerLink="/"></a>
    </div>

    <span class="sidebar-title gradient-text" *ngIf="!collapsed">
      {{ config.title }}
    </span>
  </div>

  <div class="sidebar-nav">
    <ng-container *ngFor="let section of config.sections">
      <span *ngIf="section.label" class="nav-section-label">
        {{ section.label }}
      </span>

      <ng-container *ngFor="let item of section.items">
        <a
          *ngIf="item.route"
          class="nav-item"
          [routerLink]="item.route"
          routerLinkActive="active"
          [title]="collapsed ? item.label : ''"
          (click)="onItemClick(item)"
        >
          <span class="nav-icon"><i [class]="item.icon"></i></span>
          <span class="nav-label" *ngIf="!collapsed">
            {{ item.label }}
          </span>

          <span class="nav-tooltip" *ngIf="collapsed">
            {{ item.label }}
          </span>
        </a>

      </ng-container>

      <div class="section-divider"></div>
    </ng-container>
  </div>

  <div class="sidebar-footer">
    <div class="user-chip" [class.collapsed]="collapsed">
    <div class="user-avatar">
      {{ config.user.avatarInitials }}
    </div>

    <div class="user-info" *ngIf="!collapsed">
      <div class="user-name">{{ config.user.name }}</div>
      <div class="user-role">{{ config.user.role }}</div>
    </div>

    <span class="nav-tooltip" *ngIf="collapsed">
      {{ config.user.name }} ({{ config.user.role }})
    </span>
  </div>
<!-- 
    <div style="display: flex; justify-content: center; width: 100%; margin-bottom: 0.5rem;">
      <app-theme-toggle></app-theme-toggle>
    </div> -->

    <ng-container *ngFor="let action of config.footerActions">
      <button
        class="back-btn"
        (click)="action.action()"
        [title]="collapsed ? action.label : ''"
      >
        <span class="nav-icon">
          <i [class]="action.icon"></i>
        </span>

        <span *ngIf="!collapsed">
          {{ action.label }}
        </span>

        <span class="nav-tooltip" *ngIf="collapsed">
          {{ action.label }}
        </span>
      </button>
    </ng-container>
  </div>
</nav>

<button
  class="toggle-btn"
  [class.collapsed]="collapsed"
  (click)="toggleCollapse()"
  [attr.aria-label]="collapsed ? 'Expand sidebar' : 'Collapse sidebar'"
>
  <i
  class="fa-solid fa-chevron-left"
  [class.rotated]="collapsed"
></i>
</button>
