<ng-container *ngIf="!textarea; else textareaTemplate">
  <label *ngIf="label" class="input-label">
    {{ label }}
  </label>

  <input
    [type]="type"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [ngClass]="getClasses()"
  />
</ng-container>

<ng-template #textareaTemplate>
  <label *ngIf="label" class="input-label">
    {{ label }}
  </label>

  <textarea
    [rows]="rows"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [ngClass]="getClasses()"
  ></textarea>
</ng-template>
